@font-face {
  font-family: 'whatever';
  src: url('whatever-v1.woff') format('woff');
}

html {
  background: url('whatever-v1.png');
}

/* 
  Using device-width intentionally as we take the biggest required
  file offline
*/
@media screen and (min-device-width: 500px) {
  html {
    background: url('whatever-large-v1.png');
  }
}