body {
  padding: 2em 1em 2em 70px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(//www.w3.org/StyleSheets/TR/logo-WD);
  line-height: 1.5em;
  font-size: 14px;
}

:link { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
a:active { color: #C00; background: transparent }

a:link img,
a:visited img {
  border: none;
}

.logo > a {
  border-bottom: none;
}

figure {
  width: 600px;
  margin: 0 auto;
  display: block;
}

figcaption {
  font-size: 0.8em;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  color: #005A9C;
  padding: 0;
  margin: 1.5em 0 0.3em 0;
}

h1 {
  font-size: 3em;
  line-height: 1em;
  margin: 1em 0;
}

h2, h3 {
  margin: 1.5em 0 0.3em 0;
}

a {
  color: black;
}

code {
  background-color: #eee;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 0.8em;
}

body > pre.prettyprint,
body > section pre {
  background-color: #eee;
  padding: 0 2em 1em 2em;
  margin: 0;
  border: none;
}

address {
  font-style: normal;
}

object {
  margin: 0 auto;
  display: block;
}

header > ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  list-style: none;
  margin: 0 -1em;
  padding: 0.3em 0;
  background-color: #eee;
}

header > ul > li {
  display: inline;
  margin: 0 0 0 1em;
}

header > ul > li:nth-of-type(3) {
  display: inline;
  margin: 0 0 0 5em;
}

header > ul a {
  color: #666;
}

header > ul a:hover {
  color: #000;
}

code > ins {
  background-color: #BBFFDF;
  text-decoration: none;
}

code > del {
  background-color: #FF979D;
}

var {
  color: #005A9C;
  font-style: normal;
}

dt {
  font-weight: bold;
}

dt, dd {
  margin-top: 0;
  margin-bottom: 0;
}

.warning:before {
  content: "WARNING: ";
  font-weight: bold;
}

.warning {
  padding: 10px 10px;
  width: 100%;
  background: #fffaba;
  box-sizing: border-box;
}

dfn {
  font-style: normal;
  font-weight: bold;
  background-color: #f9f9f9;
  padding: 0 2px;
  outline: 1px solid #eee;
}

dfn.no-references {
  background-color: #ffefef;
}

dfn:target, a:target {
  background-color: #FFFF91;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #666;
}

a[href*=dfn-] {
  border-bottom: 1px dotted #ccc;
}
